html,
body {
    min-height: 100%;
    color: #fff;
    background-color: #ffff;
    /*noten que color y background-color se repite en header#titular*/
}
header#titular {
    min-height: 100vh;
    color: #fff;
    background-color: #fff;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center top;
    background-size: 100% auto;
    background-image: url("img/maipo.png");
    /* Uso una imagen cuadrada para pantallas más angosta*/
}

@media (min-width: 768px) {
    header#titular {
        background-image: url("img/maipo-md.png");
        /* Uso una imagen apaisada para pantallas más anchas*/
    }
}
header#titular div.container {
    height: 100vh; /*  Misma altura que el header */
}

header#titular h1 {
    color: #2f4f4f; /* en caso quieran un texto blanco algo traslúcido */
    font-weight: 600;
}

header#titular h2 {
    color: #2f4f4f;
    font-weight: 600; /* en caso quieran un texto blanco un poco más traslúcido que el título de primer nivel */
}

header#titular p {
    color: #2f4f4f;
    font-weight: 300;
}

body {
    color: #2f4f4f;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}

h1 {
    color: #2f4f4f;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

h3 {
    color: #2f4f4f;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

h6 {
    color: #2f4f4f;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
}
p {
    color: #2f4f4f;
    font-family: "Open Sans", sans-serif;
    font-weight: 100;
}

#enfasis {
    color: #73b3c0;
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
}

#mapaArbol {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}


